.encabezadolocales {
    background-color: #2B2B2B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      font-size: 2.5rem;
  
      span {
        color: deepskyblue;
      }
    }
  
    li {
      list-style-type: none;
      display: inline-block;
    }
  
    nav ul li a {
      text-decoration: none;
      margin: 10px;
      color: whitesmoke;
      font-size: 1.5rem;
    }
  }
  
  /*locales principal*/
  
  main .localesprincipal {
    text-align: center;
  }
  
  .localesprincipal h2 {
    color: black;
  }
  