/* Lo hacemos responsive:  */

/*Vista tablet*/
/*768px hasta 1023px*/

@media (max-width:1023px) {
    /*Header*/

    .encabezado {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

}

/*Ajustes específicos para la vista móvil*/
/*0 hasta 768px*/

@media (max-width:768px) {
    /*Destinos */

    .contenedorElectrodomesticos {
        grid-template-columns: 1fr;
    }
}

.white-bg{
    background-color: #2B2B2B;
}

